@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-color: rgb(205, 215, 241);
  font-family: "Poppins", sans-serif;
}

.banner {
  position: absolute;
  height: 100px;
  width: 100px;
  max-width: 500px;
  min-width: 500px;
  z-index: 9;
  border: 1px solid black;
  animation-name: myAnimation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  background-color: cornflowerblue;
}
@keyframes myAnimation {
  0% {
    top: -100px;
    left: -10px;
  }
  50% {
    top: 20px;
    left: 100px;
  }
  100% {
    top: 0px;
    left: 200px;
  }
}

.banner__top {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background: url("../img/task-1/img4.jpeg");
}

.banner__top > img {
}

.close__btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 11px;
  color: rgb(25, 171, 156);
  background-color: white;
  border-radius: 1px;
}

.banner__top > img {
  width: 50%;
  object-fit: contain;
  opacity: 0;
  position: relative;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  animation: imgFade 4s linear 2s forwards;
  transition: ease 1s;
}

@keyframes imgFade {
  0% {
    opacity: 0;
    bottom: -30px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

.close__btn:hover {
  transform: scale(1.2);
}

.banner__topText {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.banner__topText > p {
  animation-name: textAnimation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    transform: scale(0.5);
    color: rgb(232, 20, 151);
  }
  100% {
    top: 0;
    left: 50%;
    right: 200px;
    letter-spacing: 2px;
    color: white;
  }
}

.change__text {
  transform: scale(1.1);
  z-index: 11;
}
.change__background {
  background-color: teal;
}

#imgRight {
  opacity: 0;
  position: relative;
  object-fit: contain;
  animation: rightToLeft 4s linear 2s forwards;
  transition: ease 1s;
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    right: -50px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* header */
.header {
  font-family: "Courgette", cursive;
  margin: 0;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 10px 50px 10px 20px;
  background-color: rgb(172, 184, 187);
  border-bottom-left-radius: 25px;
  border: 1px solid #ccc;
}

.header a {
  color: #424345;
}
.header a:hover {
  background-color: rgb(172, 184, 187);
  color: white;
  cursor: pointer;
}

/* Task-2 */
.banner__side {
  position: absolute;
  padding: 8px;
  z-index: 99;
  right: 8px;
  top: 115px;
  height: 500px;
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  background-color: white;
}

.banner__side > p {
  margin: 0;
  font-size: 8px;
  text-align: center;
}

.btn__container {
  font-size: 3px;
  height: 5px;
  position: absolute;
  top: 20px;
  right: 8px;
  height: 5px !important;
}
.btn__container > button {
  font-size: 11px;
  color: rgb(25, 171, 156);
  outline: none;
  border: none;
  background-color: white;
  border-radius: 1px;
  cursor: pointer;
}
.image__container {
  width: 100%;
  height: 100%;
}

.banner__sideImg {
  width: 100%;
  height: 98%;
  object-fit: cover;
  border: 1px solid black;
  transition: 1s linear;
}

/* image fadding animation */
.fade {
  position: absolute;
  top: 2;
  left: 2;
  width: 97%;
  height: 95%;
  background: rgb(9, 9, 9);
  opacity: 0;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.2s;
  animation-name: fade;
  animation-duration: 0.2s;
  object-fit: contain;
  overflow: hidden;
  transition: ease-in;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

.btn__findout {
  position: absolute;
  padding: 5px;
  width: 70px;
  height: 70px;
  top: 45%;
  left: 50%;
  translate: transform(-50%, -45%);
  border-radius: 50%;
  background-color: purple;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
}

.btn__findoutVisible {
  display: block;
  animation-name: moveTop;
  animation-duration: 0.5s;
  animation-delay: 1.5s;
}

@keyframes moveTop {
  from {
    top: 50%;
    left: 50%;
    translate: transform(-50%, -50%);
    border-radius: 50%;
  }
  to {
    top: 45%;
    left: 50%;
    translate: transform(-50%, -45%);
    border-radius: 50%;
  }
}

.banner__sideText {
  font-family: "Courgette", cursive;
  font-size: 30px;
  letter-spacing: 1px;
  color: white;
  position: absolute;
  word-wrap: break-word;
}
.top {
  top: 20%;
  left: 20%;
  translate: transform(-20%, -20%);
  transition: 1s linear;
}
.bottom {
  bottom: 20% !important;
  left: 20% !important;
  translate: transform(-20%, -20%);
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid greenyellow;
  white-space: nowrap; /* Keeping on single line */
  margin: 0 auto;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end forwards;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#std__Id {
  bottom: 20% !important;
  left: 10%;
  font-size: 1em;
  overflow: hidden;
}
.btnReplay {
  position: absolute;
  z-index: 999;
  bottom: 5px;
  right: 10px;
  border: none;
  cursor: pointer;
}
.btnReplay > button {
  border: none;
  cursor: pointer;
}


.navbar {
  height: 115px;
  width: 100%;
}
/* task-3 ----> */
.booking__form {
  color: #424345;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  margin: 3px auto 0 8px;
  padding: 0 8px 8px 8px;
  width: 65%;
  height: 90vh;
  max-width: 750px;
  min-width: 380px;
  max-height: 600px;
  background-color: whitesmoke;
  border-radius: 8px;
  border: 1px solid #ccc;
  overflow: hidden;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin: 0 !important;
}

.tab {
  cursor: pointer;
  padding: 8px;
}

.tab:hover {
  background-color: rgb(205, 215, 241);
}

.tab.active {
  /* background-color: rgb(205, 215, 241); */
  color: #4447e0;
  border-bottom: 2px solid #4447e0;
}

.tab__content {
  width: 95%;
  height: 87%;
  font-size: 11px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

form {
  width: 100%;
  height: 92%;
  padding: 8px;
  border-radius: 8px;
  /* background-color: rgb(235, 237, 241); */
}

#page__1,
#page__2,
#page__3,
#page__4 {
  height: 100%;
}

.form__inputs {
  height: 100%;
  padding: 10px;
  padding-top: 0;
  width: auto;
  display: flex;
  flex-direction: column;
}
input[type="radio"] {
  vertical-align: sub;
  width: 12px;
}

input[type="color"] {
  vertical-align: middle;
  height: 15px;
  width: 25px;
}

.form__inputs > label {
  padding-top: 8px;
  width: 50%;
}

.form__inputs > input {
  border-bottom: 1px solid rgb(192, 189, 189);
  padding: 4px;
  width: 50%;
  border: 1px solid rgb(192, 189, 189);
  border-radius: 5px;
}

.form__inputs > select {
  padding: 5px;
  width: 51%;
  border: 1px solid rgb(192, 189, 189);
  border-radius: 5px;
}
.input__group {
  width: 51%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__inputs > .input__group {
  padding-top: 8px;
}
.form__inputs > .input__group input {
  padding: 4px;
  outline: none;
  border: 1px solid rgb(192, 189, 189);
  border-radius: 5px;
}
#submit {
  margin-top: 40px;
  margin-left: 20px;
}
.prevNext {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prevNext a {
  padding: 5px;
  border: none;
  outline: none;
  background-color: #7a7b96;
  border-radius: 5px;
  color: white;
}

#btnreset{
  padding: 5px;
  border: none;
  outline: none;
  background-color: #d17953;
  border-radius: 5px;
  color: white;
}

.progress__bar {
  position: relative;
  width: 400px;
  margin: 5px auto;
  height: 12px;
  background-color: whitesmoke;
  border: 1px solid #7a7b96;
  border-radius: 99px;
}

.progress__fill {
  height: 100%;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
  border-radius: 99px;
  transition: .5s linear;
}

.fill__firstPage {
  width: 33%;
}
/* .footer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  height: 50px;
  width: 99%;
  background-color: black;
  color: rgb(192, 188, 188);
} */
