* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ebebec;
  --secondary: #1a3043;
  --dark: #294860;
  --color1: #6c5b7b;
  --color2: #c06c84;
  --color3: #f88195;
}

body {
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--secondary);
}

.app {
  padding: 8px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.navbar {
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.navbar a {
  color: var(--secondary);
  padding: 8px;
}

.navbar__logo {
}
.navbar__links {
  padding: 8px;
  display: flex;
  justify-content: space-around;
}
.navbar__links > a:hover {
  border-bottom: 1px solid var(--primary);
}
.profile {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile__bottom {
  margin-top: 16px;
  margin-bottom: 32px;
}

.profile__circle {
  padding: 8px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 50%;
}
.profile__image {
  width: 100px;
  height: 100px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  overflow: hidden;
  border-radius: 50%;
}

.profile__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profile__socials {
}
.footer {
  color: rgb(167, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #1a3043;
}

.assignment {
  margin: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.assignment__recent {
  position: relative;
  margin: 16px;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  background-color: #8bc6ec;
  background-image: linear-gradient(180deg, #6ca8cf 0%, #7277df 100%);
}

.assignment__recentCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
}

.assignment__recentCard:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.assignment__recentFront {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  border-radius: 8px;
}

.assignment__recentBack {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: var(--dark);
  border-radius: 8px;
}

.assignment__recentBack > a{
  margin: 5px;
  padding: 5px;
  color: whitesmoke;
  border: 1px solid gray;
  border-radius: 5px;
}

.assignment__recentBack > p{
  color: whitesmoke;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px;
}