* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ebebec;
  --secondary: #1a3043;
  --dark: #294860;
  --color1: #6c5b7b;
  --color2: #c06c84;
  --color3: #f88195;
}

body {
  color: var(--dark);
  font-family: "Roboto", sans-serif;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--secondary);
}

.app {
  padding: 8px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.navbar {
  width: 100%;
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar a {
  color: var(--secondary);
  padding: 8px;
}

.navbar__links {
  padding: 8px;
  display: flex;
  justify-content: space-around;
}
.navbar__links > a:hover {
  border-bottom: 1px solid var(--primary);
  border-radius: 5px;
  background-color: #6ca8cf;
}
.profile {
  width: 100%;
  height: 50vh;
  padding: 8 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.profile__circle {
  padding: 8px;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  border-radius: 50%;
}
.profile__image {
  width: 100px;
  height: 100px;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  overflow: hidden;
  border-radius: 50%;
}

.profile__image > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.profile__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__socials div {
  margin: 8px;
}

.fab {
  color: var(--secondary);
}
.fab:hover {
  transition: all 0.1s;
  transform: scale(1.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fa-github-square {
  color: black;
}

.fa-instagram-square {
  color: #c62a5e;
}
.fa-linkedin {
  color: #1a87b9;
}
.fa-youtube-square {
  color: #af0707;
}

.footer {
  color: rgb(167, 163, 163);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #1a3043;
}

.assignment {
  width: 100%;
  padding: 8px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.assignment__recent {
  position: relative;
  margin: 11px;
  border-radius: 8px;
  height: 200px;
  width: 200px;
  background-color: #8bc6ec;
  background-image: linear-gradient(180deg, #6ca8cf 0%, #7277df 100%);
}

.assignment__recentCard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  border-radius: 8px;
}

.assignment__recentCard:hover {
  cursor: pointer;
  transform: rotateY(180deg);
}

.assignment__recentFront {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  border-radius: 8px;
}

.assignment__recentBack {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: var(--dark);
  border-radius: 8px;
}

.assignment__recentBack > a {
  margin: 5px;
  padding: 5px;
  color: whitesmoke;
  border: 1px solid gray;
  border-radius: 5px;
}

.assignment__recentBack > p {
  color: whitesmoke;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px;
}

.about {
  padding: 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #8bc6ec;
  background-image: linear-gradient(180deg, #6ca8cf 0%, #6d72d7 100%);
  border-radius: 8px;
}

.about__intro {
  width: 100%;
}
.about__container {
  width: 100%;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  background-color: #378a8b;
}
tbody tr {
  border-bottom: 1px solid var(--secondary);
}

tbody tr:nth-of-type(even) {
  background-color: #6e9bb8;
}
tbody tr:nth-of-type(odd) {
  background-color: #7e82bf;
}

th,
td {
  text-align: left;
  padding: 8px;
}

hr {
  height: 1px;
  background-color: var(--secondary);
  border: none;
}

.contact {
  min-width: 58%;
  margin: 16px;
  padding: 32px 16px;
  height: 30vh;
  background-color: #8bc6ec;
  background-image: linear-gradient(180deg, #6ca8cf 0%, #7277df 100%);
  border-radius: 8px;
}
