:root {
  --primary: #0a3751;
  --secondary: #dedeed;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #0a3751;
  background-repeat: no-repeat;
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: cadetblue;
}
.profile__pic > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid var(--secondary);
  text-align: left;
  padding: 8px;
}

hr {
  height: 1px;
  background-color: var(--secondary);
  border: none;
}

a {
  color: var(--secondary);
}
